version: 2.1

jobs:
  build-and-test:
    docker:
      - image: cimg/openjdk:11.0

    steps:
      - checkout

      # Install Google Chrome Stable
      - run:
          name: Install Google Chrome Stable
          command: |
            wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
            sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google-chrome.list'
            sudo apt-get update && sudo apt-get install -y google-chrome-stable

      # Build and test your Maven project
      - run:
          name: Build and test
          command: |
            mvn -B -DskipTests clean package
            mvn test
workflows:
  sample:
    jobs:
      - build-and-test